@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* ------------------------------------------------------------ HTML */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------- General CSS */

.uppercase {
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------------- Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 12.5% 25px 10%;
    background-color: #333;
}

/* ------------------------------------------------------------ Header Logo */

.logo {
    display: inline-block;
    font-size: 200%;
}

.logo:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* ------------------------------------------------------------ Header Navigation Links */

li, a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 105%;
    color: #fafafa;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a:hover {
    color: #42e3f5;
    text-decoration: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ index.html CSS */

/* -------------------------------------------------------------------------------- Hero Image Section */

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0 ,0, 0, 0.5)), url("../images/hero.jpg");
    height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text { 
  font-family: "Lato", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fafafa;
}

.hero-text h2 {
    padding: 0 0 20px 0;
}

.hero-text h5 {
    padding: 0 0 20px 0;
}

.hero-text button {
    background-color: #0c1f34;
    border: none;
    color: #fafafa;
    height: 65px;
    width: 200px;
    padding: 20px;
}

.hero-text button a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- Membership Fees Section */

/* -------------------- Student Membership Offer Image */

.student-membership {
    font-family: "Lato", sans-serif;
    height: 400px;
    width: 50%;
    background: url("../images/student-membership.jpg") no-repeat center center;
    background-color: #fafafa;
}

.student-membership h2 {
    text-align: center;
    color: #fafafa;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.student-membership h4 {
    text-align: center;
    color: #fafafa;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.student-membership h5 {
    text-align: center;
    color: #fafafa;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 300px;
    background-color: #0c1f34;
    width: 350px;
    height: 50px;
}

.student-membership h5 a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* -------------------- Membership Fees Image */

.membership-prices {
    font-family: "Lato", sans-serif;
    height: 400px;
    width: 50%;
    background: url("../images/membership-fees.jpg") no-repeat center center;
    background-color: #fafafa;
}

.membership-prices h2 {
    text-align: center;
    color: #fafafa;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.membership-prices h4 {
    text-align: center;
    color: #fafafa;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.membership-prices h5 {
    text-align: center;
    color: #fafafa;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 300px;
    background-color: #0c1f34;
    width: 350px;
    height: 50px;
}

.membership-prices h5 a:hover {
    color: #42e3f5;
    text-decoration: none;
}


/* -------------------------------------------------------------------------------- Icon Section */

.icon-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0c1f34;
    margin: auto;
    text-align: center;
}

.icon-section div {
    margin: auto;
}

.icon-section h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #fafafa;
    padding: 10px;
    font-size: 16px;
}

.icon-section i {
    color: #fafafa;
    font-size: 75px;
    padding: 10px;
}

/* -------------------------------------------------------------------------------- Member Section */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.member-section {
    height: 500px;
    text-align: center;
    background-color: #333;
}

.member-section h2 {
    font-family: "Lato", sans-serif;
    font-size: 250%;
    text-align: center;
    color: #fafafa;
    padding: 40px 40px 0 40px;   
}

.flex-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

/* -------------------- Personal Training Image */

.img-box1 {
    position: relative;
    text-align: center;
    color: #fafafa;
    font-size: 100%;
    height: 250px;
    width: 375px;
    background-image: url("../images/personal-training.jpg");
}

.img-button-pt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 275px 20%;
}

.img-button-pt button {
    height: 40px;
    padding: 5px 10px;
    border: none;
    color: #fafafa;
    font-size: 90%;
    background-color: #0c1f34;
}

.img-button-pt button a {
    text-decoration: none;
}

.img-button-pt button a:hover {
    color: #42e3f5;
}

/* -------------------- Gym Classes Image */

.img-box2 {
    position: relative;
    text-align: center;
    color: #fafafa;
    font-size: 100%;
    height: 250px;
    width: 375px;
    background-image: url("../images/gym-class.jpg");
}

.img-button-gc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 275px 12.5%;
}

.img-button-gc button {
    height: 40px;
    width: 325px;
    padding: 5px 7px;
    border: none;
    color: #fafafa;
    font-size: 90%;
    background-color: #0c1f34;
}

.img-button-gc button a {
    text-decoration: none;
}

.img-button-gc button a:hover {
    color: #42e3f5;
}

/* -------------------- Workout & Dietary Plans */

.img-box3 {
    position: relative;
    text-align: center;
    color: #fafafa;
    font-size: 100%;
    height: 250px;
    width: 375px;
    background-image: url("../images/workout-diet.jpg");
}

.img-button-wd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 275px 7.5%;
}

.img-button-wd button {
    height: 40px;
    width: 325px;
    padding: 5px 15px;
    border: none;
    color: #fafafa;
    font-size: 90%;
    background-color: #0c1f34;
}

.img-button-wd button a {
    text-decoration: none;
}

.img-button-wd button a:hover {
    color: #42e3f5;
}

/* -------------------------------------------------------------------------------- Testimonial Section */

.testimonial-section {
    height: 400px;
    text-align: center;
    background-color: #fafafa;
}

.testimonial-section h2 {
    font-family: "Lato", sans-serif;
    font-size: 250%;
    text-align: center;
    color: #333;
    padding: 40px 40px 0 40px; 
}

.flex-testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    color: #333;
}

.flexbox {
    display: flexbox;
    padding: 20px 20px;
}

.flex-testimonial img {
    padding: 5px 5px 20px 5px;
}

/* -------------------------------------------------------------------------------- Footer */

/* -------------------- Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    min-height: 150px;
    margin: 0;
    text-align: center;
}

footer div {
    padding: 20px 5%;
}

.footer-style {
    font-family: "Lato", sans-serif;
    color: #fafafa;
}

/* -------------------- Company Details Hover */

.phone a:hover {
    text-decoration: none;
    color: #42e3f5
}

.email a:hover {
    text-decoration: none;
    color: #42e3f5;
}

/* -------------------- Social Media Links */

.social-links {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.social-links i:hover {
    color: #42e3f5;
}

.social-links li a i {
    margin: 4px;
    padding: 0;
    font-size: 30px;
    text-align: center;
    color: #fafafa;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ about bp fitness.html CSS */

/* -------------------- Why Choose BP Fitness Section */

.about-us {
    height: 650px;
    width: 100%;
    background-color: #0c1f34;
}

.about-us h2 {
    font-family: "Lato", sans-serif;
    font-size: 250%;
    color: #fafafa;
    text-align: center;
    padding: 40px 40px 0 40px;
}

.content {
    height: 500px;
    width: 800px;
    background-color: #fafafa;
    margin: 30px auto;
}

/* -------------------------------------------------------------------------------- Why BP Fitness Has To Offer Section */

/* -------------------- Why BP Fitness Has To Offer Title/ Heading */

.we-offer h2 {
    font-family: "Lato", sans-serif;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #333;
    padding: 40px 40px 40px 40px;
    margin: 0;
}

.offer-flex {
    display: flex;
}

/* -------------------- Why BP Fitness Has To Offer Strength Machines Section */

.strength-machines {
    font-family: "Lato", sans-serif;
    height: 250px;
    width: 50%;
    background-color: #0c1f34;
    padding: 20px;
    text-align: center;
}

.strength-heading {
    color: #fafafa;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.strength-text {
    color: #fafafa;
    column-count: 3;
    margin-top: 40px;
    margin-left: 10px;
}

/* -------------------- Why BP Fitness Has To Offer Weights Section */

.weights {
    font-family: "Lato", sans-serif;
    height: 250px;
    width: 50%;
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
}

.weights-heading {
    color: #333;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.weights-text {
    color: #333;
    column-count: 3;
    margin-top: 40px;
    margin-left: 10px;
}

/* -------------------- Why BP Fitness Has To Offer Cardio Machines Section */

.cardio-machines {
    font-family: "Lato", sans-serif;
    height: 250px;
    width: 50%;
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
}

.cardio-heading {
    color: #333;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.cardio-text {
    color: #333;
    column-count: 3;
    margin-top: 40px;
    margin-left: 10px;
}

/* -------------------- Why BP Fitness Has To Offer Gym Facilities Section */

.gym-facilities {
    font-family: "Lato", sans-serif;
    height: 250px;
    width: 50%;
    background-color: #0c1f34;
    padding: 20px;
    text-align: center;
}

.gym-heading {
    color: #fafafa;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.gym-text {
    color: #fafafa;
    column-count: 3;
    margin-top: 40px;
    margin-left: 10px;
}

/* -------------------------------------------------------------------------------- Membership Options Section */

.member-options h2 {
    font-family: "Lato", sans-serif;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    background-color: #fafafa;
    padding: 70px 40px 40px 40px;
    margin: 0;
}

.member-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}

/* -------------------- Student Offer Section */

.student-offer {
    height: 300px;
    width: 50%;
    background: url("../images/student-membership.jpg") no-repeat center center;
    margin: 30px;
}

.student-offer h3 {
    color: #fafafa;
    text-align: center;
    padding: 20px;
    text-decoration-line: underline;
}

.student-offer h5 {
    color: #fafafa;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
}

.student-offer h6 {
    color: #fafafa;
    background-color: #0c1f34;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 20px 55px 20px 55px;
}

.student-offer h6 a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* -------------------- Student Fees Section */

.student-fees {
    height: 300px;
    width: 50%;
    background: url("../images/student-membership.jpg") no-repeat center center;
    margin: 30px;
}

.student-fees h3 {
    color: #fafafa;
    text-align: center;
    text-decoration-line: underline;
    padding: 20px 20px 0 20px;
}

.student-fees h5 {
    color: #fafafa;
    font-size: 150%;
    text-align: center;
    padding: 10px 30px 9.5px 30px;
}

.student-fees h6 {
    color: #fafafa;
    background-color: #0c1f34;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 20px 55px 20px 55px;
}

.student-fees h6 a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* -------------------- Membership Offer Section */

.membership-offer {
    height: 300px;
    width: 50%;
    background: url("../images/membership-fees.jpg") no-repeat center left;
    margin: 30px;
}

.membership-offer h3 {
    color: #fafafa;
    text-align: center;
    text-decoration-line: underline;
    padding: 20px;
}

.membership-offer h5 {
    color: #fafafa;
    text-align: center;
    padding: 10px 30px 22px 30px;
    text-transform: uppercase;
}

.membership-offer h6 {
    color: #fafafa;
    background-color: #0c1f34;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 20px 40px 20px 40px;
}

.membership-offer h6 a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* -------------------- Membership Fees Section */

.membership-fees {
    height: 300px;
    width: 50%;
    background: url("../images/membership-fees.jpg") no-repeat center left;
    margin: 30px;
}

.membership-fees h3 {
    color: #fafafa;
    text-align: center;
    text-decoration-line: underline;
    padding: 20px 20px 0 20px; 
}

.membership-fees h5 {
    color: #fafafa;
    font-size: 150%;
    text-align: center;
    padding: 20px 20px 2px 20px;
}

.membership-fees h6 {
    color: #fafafa;
    background-color: #0c1f34;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    padding: 20px 55px 20px 55px;
}

.membership-fees h6 a:hover {
    color: #42e3f5;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------  Inside BP Fitness */

.image-gallery h2{
    font-family: "Lato", sans-serif;
    font-size: 250%;
    text-align: center;
    background-color: #333;
    color: #fafafa;
    padding: 40px 40px 25px 40px;
    margin: 0;   
}

.image-section {
    display: flex;
    align-items: center;
}

.image-section img {
    width: 10%;
    padding: 0;
    margin: 0;
    border: 0.5px solid #000;
}